@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  padding-block-start: 28px;
  font-family: "Kumbh Sans", sans-serif;
}

#app {
  max-width: 1110px;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 34px;
  margin-bottom: 90px;
  border-bottom: 1px solid #e4e9f2;
  transition: padding-inline 225ms ease-in-out;
}

.header-nav__mobile-menu-btn {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 56.5px;
}

.header-nav__link {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #69707d;
  transition: color 125ms ease;
}

.header-nav__item {
  position: relative;
}

.header-nav__item::before {
  content: "";
  display: none;
  position: absolute;
  bottom: -46px;
  width: 100%;
  height: 4px;
  background-color: #ff7e1b;
}

.header-nav__item:hover::before {
  display: block;
}

.header-nav__item:hover a {
  color: #1d2026;
}

.header-actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 46px;
}

.header-actions__cart {
  position: relative;
  width: 21.82px;
  height: 20px;
}

.header-actions__cart-count {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff7e1b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 700;
  top: -8px;
  right: -8px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 125ms ease, visibility 125ms ease;
}

.header-actions__cart-count.not-empty {
  opacity: 1;
  visibility: visible;
}

.header-actions__cart svg path {
  transition: fill 125ms ease;
}

.header-actions__cart:hover svg path,
.header-actions__cart.active svg path {
  fill: #1d2026;
}

.header-actions__cart-dropdown {
  position: absolute;
  right: -76px;
  width: 360px;
  min-height: 256px;
  margin-top: 16px;
  background-color: #fff;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  border-radius: 10px;
  z-index: 2000;

  opacity: 0;
  visibility: hidden;
  top: 50%;
  transition: opacity 175ms ease, visibility 175ms ease, top 175ms ease,
    right 175ms ease;
}

.header-actions__cart-dropdown.show {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.cart-dropdown__header {
  padding: 24px;
  border-bottom: 1px solid #e4e9f2;
}

.cart-dropdown__header-title {
  color: #1d2026;
  font-size: 16px;
  font-weight: 700;
}

.cart-dropdown__main {
  padding: 24px;
}

.cart-dropdown__main.empty {
  padding-top: 70px;
  text-align: center;
}

.cart-dropdown__main.empty p {
  color: #69707d;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.cart-dropdown__main-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cart-dropdown__main-list__item-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
}

.cart-dropdown__main-list__item-title {
  font-size: 16px;
  font-weight: 400;
  color: #69707d;
  line-height: 26px;
}

.cart-dropdown__main-list__item-price {
  font-size: 16px;
  font-weight: 400;
  color: #69707d;
  line-height: 26px;
}

.cart-dropdown__main-list__item-price span {
  font-weight: 700;
  color: #1d2026;
  margin-left: 10px;
}

.cart-dropdown__main-list__del-button svg path {
  transition: fill 125ms ease;
}

.cart-dropdown__main-list__del-button:hover svg path {
  fill: #ff7e1b;
}

.cart-dropdown__main__button {
  width: 272px;
  height: 56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #1d2026;
  font-weight: 700;
  font-size: 16px;
  background-color: #ff7e1b;

  transition: background-color 125ms ease;
  margin-block-end: 12px;
  margin-inline: auto;
}

.cart-dropdown__main__button:hover {
  background-color: #ffab6a;
}

.header-actions__profile {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;

  transition: border-color 125ms ease;
}

.header-actions__profile:hover,
.header-actions__profile.active {
  border-color: #ff7e1b;
}

.header-actions__profile-dropdown {
  position: absolute;
  right: -80px;
  width: 200px;
  min-height: 256px;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  border-radius: 10px;
  z-index: 2000;

  opacity: 0;
  visibility: hidden;
  top: 50%;
  transition: opacity 175ms ease, visibility 175ms ease, top 175ms ease,
    right 175ms ease;
}

.profile-dropdown__list {
  padding: 12px;
}

.profile-dropdown__item {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f6f8fd;
  font-size: 16px;
  color: #69707d;
  line-height: 26px;
  font-weight: 700;

  transition: background-color 125ms ease;
}

.profile-dropdown__item.logout {
  background-color: #ff7e1b;
  color: white;
}

.profile-dropdown__item.logout:hover {
  background-color: #ffab6a;
}

.profile-dropdown__item:hover {
  background-color: #e4e9f2;
}

.header-actions__profile-dropdown.show {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

/* Main */
.main {
  display: flex;
  gap: 125px;

  transition: gap 225ms ease-in-out;
}

.image-gallery__img {
  width: 445px;
  height: 445px;
  margin-bottom: 32px;
}

.image-gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.image-gallery__list {
  display: flex;
  gap: 32px;
}

.image-gallery__item {
  width: 88px;
  height: 88px;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}

.image-gallery__item.active {
  border-color: #ff7e1b;
}

.image-gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.main__image-product-detail {
  padding-block: 62px 77px;
}

.product-detail__brand {
  color: #69707d;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.product-detail__title {
  color: #1d2026;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
}

.product-detail__description {
  color: #69707d;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 24px;
}

.product-detail__price {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.product-detail__price-title {
  color: #1d2026;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4px;
}

.product-detail__price-title.discount {
  color: #69707d;
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
}

.product-detail__price-button {
  color: white;
  background-color: #1d2026;
  width: 51px;
  height: 27px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  cursor: default;
}

.product-detail__bottom {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-detail__bottom-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 157px;
  height: 56px;
  background-color: #f6f8fd;
  border-radius: 10px;
  user-select: none;
}

.product-detail__bottom-counter button {
  padding: 16px;
}

.product-detail__bottom-counter button svg path {
  transition: fill 125ms ease;
}

.product-detail__bottom-counter button:hover svg path {
  fill: #ffab6a;
}

.product-detail__bottom-counter .count {
  color: #1d2026;
  font-weight: 700;
  font-size: 16px;
}

.product-detail__bottom-cart-btn {
  width: 272px;
  height: 56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #1d2026;
  font-weight: 700;
  font-size: 16px;
  background-color: #ff7e1b;

  transition: background-color 125ms ease;
}

.product-detail__bottom-cart-btn:hover {
  background-color: #ffab6a;
}

/* Lightbox */

.main__lightbox {
  width: 550px;
  height: 680px;
  margin: auto;

  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 990;

  opacity: 0;
  visibility: hidden;
  transition: opacity 175ms ease, visibility 175ms ease;
}

.main__lightbox-close {
  position: absolute;
  top: -44px;
  right: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main__lightbox-close svg {
  width: 100%;
  height: 100%;
}

.main__lightbox-close svg path {
  fill: white;
  transition: fill 125ms ease;
  transform: scale(1.5);
}

.main__lightbox-close:hover svg path {
  fill: #ff7e1b;
}

.main__lightbox .image-gallery__img {
  width: 550px;
  height: 550px;
  margin-bottom: 40px;
  cursor: default;
  position: relative;
}

.main__lightbox .image-gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.main__lightbox .image-gallery__list {
  display: flex;
  gap: 32px;
}

.main__lightbox .image-gallery__item {
  width: 88px;
  height: 88px;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}

.image-gallery__item:hover {
  opacity: 0.5;
}

.image-gallery__item.active {
  border-color: #ff7e1b;
  opacity: 0.75;
}

.image-gallery__img-index-btns {
  display: none;
}

.main__lightbox .image-gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.main__lightbox-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 980;
  opacity: 0;
  visibility: hidden;
  transition: opacity 175ms ease, visibility 175ms ease;
}

.main__lightbox .image-gallery__prev-button {
  position: absolute;
  top: 255px;
  left: -24px;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.main__lightbox .image-gallery__prev-button svg {
  margin-right: 6px;
}

.main__lightbox .image-gallery__prev-button svg path {
  transition: stroke 125ms ease;
}

.main__lightbox .image-gallery__prev-button:hover svg path {
  stroke: #ff7e1b;
}

.main__lightbox .image-gallery__next-button {
  position: absolute;
  top: 255px;
  right: -24px;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.main__lightbox .image-gallery__next-button svg {
  margin-left: 6px;
}

.main__lightbox .image-gallery__next-button svg path {
  transition: stroke 125ms ease;
}

.main__lightbox .image-gallery__next-button:hover svg path {
  stroke: #ff7e1b;
}

.header-nav__mobile-drawer {
  display: none;
}

@media (width <= 1280px) {
  .header-actions__profile-dropdown {
    right: -50px;
  }

  .header-actions__cart-dropdown {
    right: -26px;
  }
}

@media (width <= 1180px) {
  .header-actions__profile-dropdown {
    right: 8px;
  }

  .header-actions__cart-dropdown {
    right: 8px;
  }

  .header {
    padding-inline: 1.5rem;
  }

  .main {
    gap: 75px;
    padding-inline: 1rem;
  }
}

@media (width <= 1000px) {
  .main {
    gap: 40px;
  }
}

@media (width <= 964px) {
  .main {
    gap: 32px;
  }

  .image-gallery__img {
    width: 345px;
    height: 345px;
  }

  .image-gallery__list {
    gap: 18px;
  }

  .image-gallery__item {
    width: 72px;
    height: 72px;
  }

  .main__image-product-detail {
    padding-block: 14px 0;
  }
}

@media (width <= 860px) {
  .product-detail__bottom {
    gap: 8px;
  }

  .product-detail__bottom-counter {
    width: 44%;
  }

  .product-detail__bottom-cart-btn {
    width: 56%;
  }

  .product-detail__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .product-detail__description {
    font-size: 15px;
    margin-bottom: 18px;
  }
}

@media (width <= 768px) {
  body {
    padding-block-start: 19px;
  }

  .header {
    margin-bottom: 16px;
  }

  .header-nav {
    gap: 1rem;
  }

  .header-nav__mobile-menu-btn {
    display: block;
  }

  .header-nav__mobile-drawer {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 33%;
    background-color: white;
    color: black;
    z-index: 2220;

    opacity: 0;
    visibility: hidden;

    transition: left 375ms ease-in-out, opacity 375ms ease,
      visibility 375ms ease;
  }

  .header-nav__mobile-drawer {
    display: block;
  }

  .header-nav__mobile-drawer.show {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .mobile-drawer__close-btn {
    margin: 24px 0 0 24px;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }

  .mobile-drawer__list {
    padding: 54px 24px 0 24px;
  }

  .mobile-drawer__link {
    font-size: 18px;
    font-weight: 700;
    color: #1d2026;
    display: inline-block;
    margin-bottom: 20px;
  }

  .header-nav__mobile-drawer-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2210;

    opacity: 0;
    visibility: hidden;
    transition: opacity 175ms ease, visibility 175ms ease;
  }

  .header-nav__mobile-drawer-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .header-actions {
    gap: 24px;
  }

  .header-nav__list {
    display: none;
  }

  .main {
    flex-direction: column;
    gap: 0;
  }

  .image-gallery__img {
    width: 100%;
    height: 435px;
    position: relative;
  }

  .image-gallery__img img {
    object-position: top;
  }

  .image-gallery__list {
    display: none;
  }
  .header-nav__mobile-drawer {
    width: 66%;
  }
  .image-gallery__img-index-btns {
    display: block;
  }

  .image-gallery__prev-button {
    position: absolute;
    top: 210px;
    left: 24px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }

  .image-gallery__next-button {
    position: absolute;
    top: 210px;
    right: 24px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
  }
}

@media (width <= 640px) {
  .header {
    margin-bottom: 0;
  }

  .main {
    padding-inline: 0;
  }

  .image-gallery__prev-button {
    top: 190px;
  }

  .image-gallery__next-button {
    top: 190px;
  }

  .image-gallery__next-button svg {
    margin-left: 4px;
  }

  .image-gallery__prev-button svg {
    margin-right: 4px;
  }

  .image-gallery__img {
    height: 380px;
  }

  .image-gallery__img img {
    border-radius: 0;
  }

  .main__image-product-detail {
    margin: 0 24px;
    padding-block: 0 0;
  }
}

@media (width >= 768px) {
  .main__lightbox.show {
    opacity: 1;
    visibility: visible;
  }

  .main__lightbox-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .image-gallery__img {
    cursor: zoom-in;
  }
}

@media (width <= 500px) {
  .image-gallery__prev-button {
    top: 140px;
  }

  .image-gallery__next-button {
    top: 140px;
  }

  .image-gallery__img {
    height: 300px;
  }
}

@media (width <= 425px) {
  .header-actions {
    position: initial;
  }

  .header {
    position: relative;
    padding-block-end: 24px;
  }

  .header-actions__cart-dropdown {
    width: 90%;
    right: 16px;
  }

  .header-actions__cart-dropdown.show {
    top: 90%;
  }

  .cart-dropdown__main__button {
    width: 90%;
  }

  .cart-dropdown__main-list__item {
    gap: 8px;
  }

  .cart-dropdown__main {
    padding: 12px;
  }

  .image-gallery__prev-button {
    left: 14px;
  }

  .image-gallery__next-button {
    right: 14px;
  }

  .product-detail__bottom {
    flex-direction: column;
    gap: 16px;
  }

  .product-detail__bottom-counter {
    width: 100%;
  }

  .product-detail__bottom-cart-btn {
    width: 100%;
  }

  .product-detail__brand {
    margin-bottom: 16px;
  }

  .product-detail__title {
    margin-bottom: 15px;
  }

  .product-detail__description {
    margin-bottom: 24px;
  }

  .product-detail__price {
    position: relative;
  }

  .product-detail__price-title.discount {
    position: absolute;
    top: 4px;
    right: 0;
  }

  .product-detail__price {
    align-items: center;
    margin-bottom: 24px;
  }
}

@media (width <= 360px) {
  .cart-dropdown__main-list__item-title {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (width <= 324px) {
  .cart-dropdown__main-list__item-title {
    width: 160px;
  }

  .header-actions {
    gap: 12px;
  }
}
